BOT_NAME=MeuBot
MIN_DELAY_MS=40000
MAX_DELAY_MS=300000
MAX_MESSAGES_PER_RUN=30
PAIRING_PHONE_NUMBER=
CHAT_LABEL_ID=
MESSAGE_LABEL_ID=
APPS_SCRIPT_URL=
APPS_SCRIPT_TOKEN=
APPS_SCRIPT_POLL_MS=60000
APPS_SCRIPT_STAGE_MODE=stage2
STAGE1_VARIANTS_FILE=data/message-variants.abertura.json
STAGE1_LABEL_ID=7
STAGE2_VARIANTS_FILE=data/message-variants.oferta-tv.json
STAGE2_LABEL_ID=8
STAGE2_MEDIA_NAME=
STAGE2_DELAY_MS=10000
AUTO_STAGE2_AFTER_GREETING=false
STAGE2_USE_INTERACTIVE_BUTTONS=true
STAGE2_BUTTON_LINK_URL=https://chat.whatsapp.com/FG1hAPfo12e8AJOydKTnKs
STAGE2_BUTTON_LINK_TEXT=Participar Agora
STAGE2_BUTTON_QUICK_REPLY_TEXT=Essa vou passar
STAGE2_BUTTON_QUICK_REPLY_ID=stage2_skip_offer
STAGE2_BUTTON_FOOTER_TEXT=Rifas Clube do Churrasco
DEFAULT_VARIANTS_FILE=data/message-variants.oferta-tv.json
DEFAULT_MEDIA_NAME=
TIMEZONE=America/Sao_Paulo
